---
- name: "Ensure custom Execution Environments"
  ansible.controller.execution_environment:
    name: "{{ item.name }}"
    description: "{{ item.description | default(omit) }}"
    image: "{{ item.image }}"
    pull: "{{ item.pull | default('missing') }}"
    state: "present"
    controller_host: "{{ controller_host }}"
    controller_oauthtoken: "{{ controller_temp_token }}"
    validate_certs: "{{ controller_validate_certs }}"
  loop: "{{ execution_environments }}"
  loop_control:
    label: "{{ item.name }}"